.text-wrap {
  position: absolute;
  /*bottom: 0;*/
  top: 57%;
  left: 51%;
  width: 70%;
  height: 36%;
  /*background-color: #f3ede4;*/
  background-color: rgba(0,0,0,0);
  transform: translateX(-50%);
  z-index: 101;
  overflow: hidden;
  /*border: 2px solid #000000;*/
  padding: 5%;
  box-sizing: border-box;
  /*display: none;*/
}

.text-wrap p {
  /*background-color: #5E740B;*/
  margin: 0;
  font-size: 12px;
  color: #222222;
}

