/*.video{
  position: absolute;
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  !*加滤镜*!
  !*-webkit-filter: grayscale(100%);*!
  !*filter:grayscale(100%);*!
}*/

/*#videoID2 {
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  object-fit: fill;
}*/


.page2-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video-start {
  width: 100%;
  height:100%;
  position: absolute;
  z-index: 2;
  /*background-color: #5E740B;*/
  /*display: none;*/
}
.video-start .wrap {
  width: 100%;
  height:20%;
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translateX(-50%);
  text-align: center;
}

.video-start img {
  width: 12%;
}

.video-start-word {
  color: #fafafa;
  font-size: 12px;
}
