.content {
  width: 100%;
  height: 100%;

}
.content .logo {
  margin-top: 10%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;

}
.content .logo img {
  display: block;
  width: 100%;
}

.content .title {
  margin-top: 20%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;

}
.content .title img {
  display: block;
  width: 100%;
}

.content .poetry ul{
  margin-top: 10%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 42%;
}
.content .poetry li {
  margin-top: 2%;
  width: 100%;
}
.content .poetry img{
  width: 100%;
  opacity: 0;
}
